<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://todocami.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/75f5e230-10a3-4ff6-925a-3994f77a021b/resourceGroups/ITM/providers/Microsoft.Web/sites/todocami</ResourceId>
    <UserName>$todocami</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://todocami.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>